<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Csv Uploader</title>

   
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jqc-1.12.4/dt-1.13.1/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jqc-1.12.4/dt-1.13.1/datatables.min.js"></script>
    <link rel="shortcut icon" href="/pics/icon.png" type="image/x-icon">
<link rel="stylesheet" href="/css/layout.css">

    <%-style%>
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <div class=" navContainer">
          <a class="navbar-brand" href="/home">
            <img src="/pics/csv-vector-icon.jpg" alt="" width="30" height="24">
            Csv Project
          </a>
        </div>
      </nav>
    

    <%-body%>
    <!-- font awesome link for icons -->
    <script src="https://kit.fontawesome.com/7d7d520dab.js" crossorigin="anonymous"></script>
<%-script%>
</body>

</html>